.question {
  font-family: 'Press Start 2P', cursive;
  text-transform: uppercase;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.questionText {
  color: #f7fff7;
  text-shadow: 0.07em 0.07em 0 #0a252e, 0.1em 0.1em 0 #ee6c4d;
}
