.withGrain {
}

.withGrain::after {
  content: '';
  background-image: url('http://api.thumbr.it/whitenoise-500x500.png?background=ffffff&noise=000000&density=100&opacity=100&background=15424fff');
  filter: blur(1px);
  left: -50%;
  opacity: 0.3;
  position: fixed;
  z-index: 0;
  top: -100%;
  height: 300%;
  width: 300%;
  animation: grain 10s steps(10) infinite;
}

@keyframes grain {
  0%,
  100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(-15%, 5%);
  }
  30% {
    transform: translate(7%, -25%);
  }
  40% {
    transform: translate(-5%, 25%);
  }
  50% {
    transform: translate(-15%, 10%);
  }
  60% {
    transform: translate(15%, 0%);
  }
  70% {
    transform: translate(0%, 15%);
  }
  80% {
    transform: translate(3%, 25%);
  }
  90% {
    transform: translate(-10%, 10%);
  }
}
