@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@500&display=swap');

.projectNameTitle {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  background: #ff3743af;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  background-size: 100%;
  color: #f7fff7;
  letter-spacing: -0.07em;
  font-size: 6rem;
  text-shadow: 0.07em 0.07em 0 #ff6b6b, 0.1em 0.1em 0 #f7fff7;
}
